/* src/components/Notes.css */
.notes-wrapper {
  padding: 2rem;
}

.note-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 3 per row if possible */
  gap: 20px;
}
